* {
  border: none;
  border-radius: 0;
  font-family: Iosevka;
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

#window,
#picture,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,
#memory,
#cpu,
#user,
window#waybar {
  /* background-color: rgba(0, 0, 0, 0); */
  border: none;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}

#cpu {
  margin-left: 4px;
  margin-right: 4px;
  color: #89b4fa;
}

#memory {
  margin-left: 4px;
  margin-right: 4px;
  color: #a6e3a1;
}

#clock {
  margin-left: 4px;
  margin-right: 8px;
  color: #fab387;
}

#network {
  color: #eba0ac;
  margin-left: 4px;
  margin-right: 4px;
}

window#waybar {
  background: #1e1e2e;
  color: #bbbbbb;
}

#workspaces button {
  padding: 0 8px;
  background: transparent;
  color: #bbbbbb;
  border-bottom: 3px solid transparent;
}

#workspaces button.active {
  background: #74c7ec;
  color: #cdd6f4;
}

#workspaces button.urgent {
  background: #f38ba8;
  color: #eeeeee;
}

#workspaces button:hover {
  background: #fab387;
  color: #eeeeee;
}

#window {
  padding: 0 10px;
  color: #bbbbbb;
}

#custom-sep {
  color: #f2cdcd;
}

#pulseaudio {
  margin-left: 4px;
  margin-right: 4px;
  color: #89b4fa;
}

#tags {
  background-color: transparent;
  margin-left: 0px;
  border-radius: 4px;
}

#tags button {
  padding: 0 6px;
  background-color: transparent;
  color: #cdd6f4;
  border-radius: 0;
  min-width: 12px;
}

#tags button.focused {
  background-color: #89b4fa;
  color: #ffffff;
  /* font-weight: 900; */
}

#tags button:first-child {
  border-radius: 10px 0 0 10px;
  margin-left: 0;
}